{{> head}}


{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Macbook PRO</h1>
    </div>
    <div class="col-4">
        <img src="/assets/img/mac.jpeg" class="img-thumbnail" width="400">
    </div>
</div>

{{> footer}}